footer {
  color: var(--text-color-secondary);
  font-weight: var(--fw-md);

  & .container {
    padding-inline: 3rem; 
  }

  & .container,
  & .top {
    gap: 3rem;
  }

  & nav.even-columns {
    gap: 4rem;
  }

  & .top ul {
    align-content: start; ;
  }

  & .title {
    font-size: .75rem;
    letter-spacing: 0.08em;
    text-transform: uppercase; /*transforma o texto em maiúsculo */
    color: var(--brand-color-primary);
  }

  & .bottom {
    flex-wrap: wrap; /* para que os itens fiquem em uma linha, e não em colunas */

    & > div {
      margin-right: auto;
    }
  }

  & .span {
    font-size: .875rem;
  }

  @media (width >= 80rem) {
    & .container {
      padding-inline: 0;
      padding-bottom: 2rem;
    }
  }
  
  & .top {
    grid-template-columns: auto 1fr; /* para que a primeira coluna fique do tamanho do conteúdo, e a segunda coluna ocupe o restante do espaço */

    & nav {
      margin-left: auto; /* para que o nav fique alinhado à direita */

      & ul {
        width: 14rem; /* para que as colunas fiquem do mesmo tamanho */
      }
    }
  }
}