.py-base {
  padding-block: var(--py-base); 
}

.py-lg {
  padding-block: var(--py-lg); 
}

.py-xl {
  padding-block: var(--py-xl); 
}

.py-2xl {
  padding-block: var(--py-2xl); 
}

.px-lg {
  padding-inline: var(--px-lg); 
}

.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2); /* multiplica por 2 para pegar os dois lados */
  border: solid violet;
  margin-inline: auto;
}

.desktop-only { 
  display: none; /* display none pq o padrão primeiro é do mobile, e só depois é arrumado para o desktop */
}

.even-columns { /* colunas constante */
  display: grid;
  gap: 1rem;
}

@media (width >= 80em) { /*configuração para quando for o desktop */
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial; /*pega o display inicial da tag e ela aparece apenas no desktop, não no mobile */
  }

  .even-columns {
    grid-auto-flow: column; /* coloca o conteúdo uma ao lado do outro */
    grid-auto-columns: 1fr;
  }
}